/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

.block-social__content a {
  display: inline-block;
  line-height: 0;
}

.block-social__content a svg {
  margin: 0.325em;
  fill: currentColor;
  opacity: 1;
}

.block-social__content a:hover svg,
.block-social__content a:focus svg
 {
  opacity: 0.9;
}
