@charset "UTF-8";
/**
 * Form Base
 * Set base styles for form elements.
 ============================================================================ */
input,
select,
button,
textarea {
  font-size: 1rem;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  max-width: 100%;
  width: 99.999%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.125em;
  border: 1px solid;
  -webkit-transition: all, 0.2s, ease-in-out;
  -o-transition: all, 0.2s, ease-in-out;
  transition: all, 0.2s, ease-in-out;
}

textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  outline: 0;
  outline: thin dotted \9;
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  cursor: not-allowed;
}

input {
  line-height: 1;
  vertical-align: middle;
  height: 2rem;
  padding: 0 0.5rem;
}

input[type="checkbox"], input[type="radio"] {
  min-width: 13px;
  display: inline-block;
  position: relative;
  bottom: 0.0625rem;
  margin-left: 0.1875rem;
  width: auto;
  height: auto;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

textarea,
button,
.button,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  -webkit-appearance: none;
}

input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"] {
  background-clip: padding-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

select {
  height: 2rem;
}

textarea {
  padding: 0.5rem;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

label {
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

label.option {
  font-weight: normal;
  display: inline-block;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

details {
  border-bottom: 1px solid;
  display: block;
  margin: 1rem 0;
  overflow-y: hidden;
  -webkit-transition: all 450ms ease-in-out;
  -o-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

details:focus {
  outline: none !important;
}

details .details-wrapper {
  -webkit-transition: all 650ms ease-in-out;
  -o-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}

.js details:not([open]) .details-wrapper {
  display: block;
  visibility: hidden;
  opacity: 0.1;
}

.js details[open] .details-wrapper {
  opacity: 1;
  visibility: visible;
}

summary {
  cursor: pointer;
  display: block;
  padding: 0.625rem;
}

details summary::-webkit-details-marker {
  display: none;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

input:invalid,
button:invalid,
.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0.2;
}

input:focus:-moz-placeholder {
  opacity: 0.2;
}

input:focus::-moz-placeholder {
  opacity: 0.2;
}

input:focus:-ms-input-placeholder {
  opacity: 0.2;
}

/**
 * Form Component
 *  - common styles for form elements and classes.
 ============================================================================ */
.form-text {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-text[name="subject[0][value]"] {
  width: 50%;
}

@media all and (max-width: 45em) {
  .form-text[name="subject[0][value]"] {
    width: 100%;
  }
}

.form-type-select__select-wrapper:not(.is-multiple) {
  position: relative;
  display: inline-block;
  width: 100%;
}

.form-type-select__select-wrapper:not(.is-multiple):after {
  font-family: FontAwesome, sans-serif;
  content: "\f0dc";
  position: absolute;
  top: 0.235rem;
  right: 0.5rem;
  z-index: 2;
  pointer-events: none;
  display: none;
}

.form-type-select__select-wrapper.is-multiple {
  display: block;
}

.form-select {
  min-width: 50%;
  margin: 0;
  font-size: 16px;
}

@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) or ((-moz-appearance: none) and (mask-type: alpha)) {
  .fa-loaded .form-type-select__select-wrapper:not(.is-multiple):after {
    display: block;
  }
  .form-type-select__select-wrapper:not(.is-multiple) .form-select {
    text-indent: 0.1875rem;
    padding-right: 1.5em;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}

.form-item,
.form-radios,
.form-checkboxes {
  margin: 0 0 1rem;
}

.form-type-radio .option,
.form-type-checkbox .option {
  padding: 0.3125rem 0.5rem;
  border-radius: 0.125em;
}

.form-type-radio .option:focus, .form-type-radio .option:hover,
.form-type-checkbox .option:focus,
.form-type-checkbox .option:hover {
  cursor: pointer;
}

.form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem 0;
}

.form-actions .button {
  margin-right: 0.25rem;
}

.field-type-text-long textarea {
  border-radius: 0.125em 0.125em 0 0;
}

.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-format-wrapper .text-full {
  width: 100%;
}

.filter-wrapper {
  border: 1px solid;
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filter-wrapper .form-type-select__select-wrapper,
.filter-wrapper .form-type-select__select-wrapper select {
  width: auto !important;
}

.filter-guidelines {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.filter-guidelines .filter-guidelines-item {
  margin: 0.75rem 0;
}

.filter-help {
  float: none;
  margin-right: auto;
  font-size: 0.875rem;
}

.tips {
  padding-left: 0;
  font-size: 0.875rem;
}

.tips li {
  list-style: none;
}

.description {
  font-size: 0.75rem;
}

h4.label,
.form-composite > legend {
  font-size: inherit;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.form-required:after {
  content: " * ";
  line-height: 1;
}

abbr.form-required, abbr.tabledrag-changed, abbr.ajax-changed {
  border-bottom: none;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid;
}

.container-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-inline div,
.container-inline label {
  margin-right: 0.375rem;
}

.container-inline label:after {
  content: ':';
}

.container-inline .form-actions, .container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

.form-type-radios .container-inline label:after {
  content: none;
}

.form-type-radios .container-inline .form-type-radio {
  margin: 0 1rem;
}

.form-composite--inline legend {
  float: left;
  margin-right: 0.5em;
  margin-top: 1px;
}

@media screen and (min-width: 321px) {
  .form-composite--inline legend {
    margin-right: 1em;
  }
}

.form-composite--inline .fieldset-legend:after {
  content: ':';
}

.form-composite--inline input[type="radio"],
.form-composite--inline label {
  vertical-align: middle;
}

.form-composite--inline label:after {
  content: none;
}

@media screen and (min-width: 480px) {
  .form-composite--inline .form-item {
    margin-right: 1.25em;
  }
}

.ui-autocomplete li.ui-menu-item a.ui-state-focus,
.autocomplete li.ui-menu-item a.ui-state-hover {
  background-color: #0072b9;
  color: #fff;
  margin: 0;
}

details > .details-wrapper {
  margin: 1rem;
}

.collapse-processed > summary {
  padding: 0.625rem;
}

.collapse-processed > summary:before {
  font-family: FontAwesome, sans-serif;
  content: "";
  float: left;
  margin: -1px 0 0;
  height: 1rem;
  width: 1rem;
  display: none;
}

.fa-loaded .collapse-processed > summary:before {
  display: block;
}

[dir="rtl"] .collapse-processed > summary:before {
  float: right;
}

.collapse-processed:not([open]) > summary:before {
  content: "";
}

[dir="rtl"] .collapse-processed:not([open]) > summary:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.vertical-tabs {
  background-color: #ffffff;
}

.block-list-secondary {
  border-bottom-width: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.75rem;
}

.reset-appearance {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.reset-appearance:hover, .reset-appearance:focus {
  background: none;
  color: inherit;
}

.cke_editable {
  padding: 5px 10px;
}

.field-storage-config-edit-form .container-inline {
  display: block;
}

.field-storage-config-edit-form .form-select {
  min-width: unset;
}

/**
 * Buttons
 * We include button styling separate (from _forms.scss, Form Base/Theme in base.css)
 * mainly because the form styles are quite long already and we often want to add
 * unique button variants.
 *
 *  - applies to elements with class "button", includes styles for:
 *  - input buttons
 *  - anchor links styled as buttons
 *  - drop buttons
 *  - action link buttons
 ============================================================================ */
button,
.button {
  width: auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1em;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: background-color, .15s, ease-in-out;
  -o-transition: background-color, .15s, ease-in-out;
  transition: background-color, .15s, ease-in-out;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
  height: 2rem;
  padding: 0 1.25rem;
}

button:hover, button:focus,
.button:hover,
.button:focus {
  text-decoration: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.un-button,
.un-button:hover,
.un-button:focus,
.un-button:active {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  opacity: 1;
  height: auto;
}

.button--danger {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-action {
  display: inline-block;
}

.button-action:before {
  font-family: FontAwesome, sans-serif;
  content: "";
  vertical-align: middle;
  font-size: 0.75rem;
  padding-right: 0.25rem;
  line-height: 2rem;
  display: none;
}

.fa-loaded .button-action:before {
  display: inline-block;
}

.button-action[data-drupal-link-system-path="user/login"]:before {
  content: "";
  vertical-align: baseline;
  font-size: 1rem;
  padding-right: 0.4375rem;
}

.action-links__button {
  padding: 0;
  margin: 1rem 0;
}

@media all and (max-width: 45em) {
  .action-links__button a {
    display: block;
  }
}

li[class*="action--"] {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

/* Drop buttons */
.dropbutton-widget {
  border: 1px solid;
  border-radius: 1em;
}

.dropbutton-wrapper {
  display: block;
  position: relative;
  min-height: 2rem;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
}

.dropbutton input {
  text-align: left;
  height: 1.875rem;
}

.dropbutton .dropbutton-action > * {
  white-space: nowrap;
  line-height: normal;
}

.dropbutton .dropbutton-action a {
  padding: 0.125rem 0.625rem;
}

.dropbutton .secondary-action {
  border-top: 1px solid;
  border-radius: 0 0 0 1em;
}

.dropbutton .secondary-action .button {
  border: 0;
  width: 100%;
}

.dropbutton .secondary-action .button:hover, .dropbutton .secondary-action .button:focus {
  border-radius: 0 0 0 1em;
}

.dropbutton .dropbutton-toggle button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropbutton .dropbutton-toggle button:hover, .dropbutton .dropbutton-toggle button:focus, .dropbutton .dropbutton-toggle button:active {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

[dir="rtl"] .dropbutton {
  margin: 0 3px 0 0;
}

[dir="rtl"] .dropbutton input {
  text-align: right;
}

.dropbutton-multiple .dropbutton {
  border-right: 1px solid;
}

.dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0;
  border: 0;
}

.dropbutton-multiple .dropbutton .dropbutton-action .button {
  border-radius: 1em 0 0 1em;
  width: 100%;
  border: 0;
  margin: 0;
}

[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-left: 1px solid;
  border-right: 0;
}

[dir="rtl"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-left: 0;
}

.dropbutton-multiple.open .dropbutton-action .button {
  border-radius: 1em 0 0 0;
}

.dropbutton-multiple .dropbutton .secondary-action .button {
  border-radius: 0 0 0 1em;
}

.dropbutton-multiple .dropbutton .secondary-action .button:hover, .dropbutton-multiple .dropbutton .secondary-action .button:focus {
  border-radius: 0 0 0 1em;
}

button.link, button.link:hover, button.link:focus {
  color: #0c6170;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

button.tableresponsive-toggle {
  float: right;
  overflow: hidden;
}

label button.link {
  font-weight: 700;
}

.ui-button-text-only .ui-button-text {
  padding: 0;
}

.ui-button-text-only button:hover, .ui-button-text-only button:focus,
.ui-button-text-only .button:hover,
.ui-button-text-only .button:focus {
  background: inherit !important;
  color: #292929 !important;
}

.tabledrag-toggle-weight {
  font-size: 0.75rem;
}

/**
 * Inline form styles.
 ============================================================================ */
.form--inline .form-item {
  float: left;
  margin-right: 0.75rem;
}

.form--inline .form-item-separator {
  margin-top: 1.25rem;
  margin-right: 1rem;
  margin-left: 0.75rem;
}

.form--inline .form-actions {
  clear: left;
}

/**
 * Progress bar.
 *  - unlike Drupal core we don't include all the vendor prefixes, instead
 *    we just rely on autoprefixer doing it's thing.
 * @see progress.js
 ============================================================================ */
.progress {
  margin: 1.25rem 0;
}

.progress__track {
  border-color: #b3b3b3;
  border-radius: 10em;
  background-color: #f2f1eb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7df), to(#f0f0f0));
  background-image: -webkit-linear-gradient(#e7e7df, #f0f0f0);
  background-image: -o-linear-gradient(#e7e7df, #f0f0f0);
  background-image: linear-gradient(#e7e7df, #f0f0f0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.16);
}

.progress__bar {
  border: 1px #07629a solid;
  background-color: #057ec9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15))), -webkit-gradient(linear, left top, right bottom, from(#0094f0), color-stop(25%, #0094f0), color-stop(25%, #007ecc), color-stop(50%, #007ecc), color-stop(50%, #0094f0), color-stop(75%, #0094f0), to(#0094f0));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -webkit-linear-gradient(left top, #0094f0 0%, #0094f0 25%, #007ecc 25%, #007ecc 50%, #0094f0 50%, #0094f0 75%, #0094f0 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -o-linear-gradient(left top, #0094f0 0%, #0094f0 25%, #007ecc 25%, #007ecc 50%, #0094f0 50%, #0094f0 75%, #0094f0 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), linear-gradient(to right bottom, #0094f0 0%, #0094f0 25%, #007ecc 25%, #007ecc 50%, #0094f0 50%, #0094f0 75%, #0094f0 100%);
  background-size: 40px 40px;
  margin-top: -1px;
  margin-left: -1px;
  padding: 0 1px;
  height: 16px;
  border-radius: 10em;
  -webkit-animation: animate-stripes 3s linear infinite;
          animation: animate-stripes 3s linear infinite;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 0, -80px 0;
  }
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 0, -80px 0;
  }
}

/**
 * Form Tables
 * Table select and table drag are form elements.
 ============================================================================ */
tr.drag {
  background-color: #fffff1;
}

tr.drag-previous {
  background-color: #ffd;
}

a.tabledrag-handle .handle {
  height: auto;
  margin: -0.2em 0.5em 0;
  width: auto;
}

body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

tr.selected td {
  background-color: #ffc;
}

td.checkbox,
th.checkbox {
  text-align: center;
}

[dir="rtl"] td.checkbox,
[dir="rtl"] th.checkbox {
  /* This is required to win over specificity of [dir="rtl"] td */
  text-align: center;
}

tr .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

/**
 * Vertical tabs.
 ============================================================================ */
.vertical-tabs {
  border: 1px solid;
}

.vertical-tabs__menu {
  border-top: 1px solid;
}

.vertical-tabs__menu-item {
  border: 1px solid;
  border-top: 0;
}

/**
 * Exposed Filters.
 ============================================================================ */
.exposed-filters .filters,
.exposed-filters .additional-filters {
  float: left;
  margin-right: 1rem;
}

.exposed-filters .form-item {
  margin: 0 0 0.1em 0;
  padding: 0;
}

.exposed-filters .form-item label {
  float: left;
  font-weight: 400;
  width: 10em;
}

.exposed-filters .form-select {
  width: 14em;
}

.exposed-filters .current-filters {
  margin-bottom: 1rem;
}

.exposed-filters .current-filters .placeholder {
  font-style: normal;
  font-weight: 700;
}

/**
 * Field widgets.
 ============================================================================ */
form .field-edit-link {
  margin: 0 0.3em;
}

form .field-multiple-table {
  margin: 0;
}

form .field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-right: 0;
}

form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: .5em;
}

[dir="rtl"] form .field-multiple-table .field-multiple-drag {
  padding-left: 0;
}

[dir="rtl"] form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-left: .5em;
}

form .field-add-more-submit {
  margin: .5em 0 0;
}

.field--widget-image-image {
  padding: 0.625em;
  border: 1px solid;
  border-radius: 0.125em;
  margin-bottom: 1rem;
}

.field--widget-image-image .form-file {
  padding: 0;
}

.field--widget-image-image .form-type-managed-file {
  margin-bottom: 0;
}

.field--widget-image-image .image-preview {
  padding: 0 0 1rem;
}

.field--widget-image-image .image-widget-data > div:first-child {
  margin-top: 0;
}

.field--widget-image-image .image-widget-data .form-submit {
  float: right;
  margin: 0;
}

.field--widget-image-image details {
  margin: -0.625em;
  border: 0;
}

.field--widget-image-image details table .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div[class*="field--widget-entity-reference"] .responsive-table {
  margin: 0;
}

div[class*="field--widget-entity-reference"] div.clearfix:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1rem;
}

div[class*="field--widget-entity-reference"] div.clearfix:last-child .dropbutton-wrapper {
  margin: 0 0.25rem 0 0;
}

div[class*="field--widget-entity-reference"] div.clearfix:last-child .placeholder {
  padding: 0 0.25rem;
}

/**
 * Block Search
 * - SEE _search.forms.scss for detailed classes for block search form.
 ============================================================================ */
.pr-navbar .block-search {
  padding: 0.375rem;
}

@media all and (min-width: 60.063em) {
  .pr-navbar .block-search {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .pr-navbar .block-search .form-search {
    width: 6.25rem;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .pr-navbar .block-search .form-search:hover, .pr-navbar .block-search .form-search:focus {
    width: 9.375rem;
  }
}

@media all and (min-width: 60em) {
  .pr-navbar .block-search {
    padding: 0.375rem 0;
  }
  .pr-navbar .block-search[class*="pull-"] {
    float: none;
  }
}

@media all and (min-width: 60.063em) {
  .pr-navbar__rw:not(.rm-row) .block-search {
    text-align: right;
  }
  .pr-navbar__rw .rm-row .block-search {
    float: right;
  }
}

/**
 * Search results.
 ============================================================================ */
.item-list--search-results {
  border-radius: 0.125em;
}

.view-header, .view__collection-count {
  font-weight: 700;
}

.search-results {
  margin-bottom: 1rem;
  padding: 1rem;
}

.search-results--empty h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.search-results__item {
  margin-bottom: 1.25rem;
  padding: 0;
  list-style: none;
}

.search-results__header {
  margin: 1.25rem 0;
  padding: 1rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.search-results__header ul, .search-results__header dl, .search-results__header dd {
  margin: 0;
  padding: 0;
}

.search-results__header form {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-results__header form > * {
  margin: 0.5rem 2rem 0.5rem 0;
}

.search-results__header form > *:last-child {
  margin-right: 0;
}

.search-results__header .pagination_option_label__container > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-results__header .pagination_option_label__container > * .pagination_option_label {
  padding-right: 0.375rem;
}

.search-results__header .pagination_option_label__container > * .pagination_option_item {
  padding: 0 0.125rem;
}

.search-results__header .display_selector__container > *:first-child {
  padding-right: 0.5rem;
}

.search-results__header .pager {
  text-align: left;
}

.search-results__header .pager ul {
  display: inline-block;
}

@media all and (min-width: 60.063em) {
  .search-results__header form {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .search-results__header form > * {
    margin: 0.5rem 0 0.5rem 2.625rem;
  }
  .search-results__header form > *:first-child {
    margin-left: 0;
  }
}

@media all and (min-width: 60.063em) {
  .search-results__results {
    display: grid;
    grid-gap: 6%;
    grid-template-columns: 1fr 3fr;
  }
}

.facets-widget-links ul {
  padding-left: 0;
}

.facet-item {
  list-style-type: none;
}

.facet-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facet-item__value {
  max-width: 100%;
  overflow: hidden;
}

.facet-item__count {
  padding-left: 0.25em;
}

.search-result__title {
  margin: 0;
}

.search-result__snippet-info {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.search-result p {
  margin: 0;
}

.view-list .node__details .field, .view-list .node__details .node__title,
.view-grid .node__details .field,
.view-grid .node__details .node__title {
  margin-bottom: 0;
}

.view-list .node__details h2,
.view-grid .node__details h2 {
  margin-top: 1.25rem;
}

.view-list .node__details h2 a,
.view-grid .node__details h2 a {
  text-decoration: none;
}

.view-list .node__details h2 a:hover, .view-list .node__details h2 a:focus,
.view-grid .node__details h2 a:hover,
.view-grid .node__details h2 a:focus {
  text-decoration: underline;
}

.view-list .node__content {
  padding: 1.625rem 0;
}

.view-list .node__content .field-type-image__item a {
  display: block;
  width: 100%;
}

.view-list .node__content .field-type-image__item img {
  width: 100%;
}

@media all and (min-width: 60.063em) {
  .view-list .node__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .view-list .node__content > :first-child:not(:empty) {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 2.5em;
  }
  .view-list .node__content .field-type-image__item a {
    width: 13rem;
  }
}

.view-grid .search-results__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
  grid-gap: 2.625rem 1.25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.view-grid .search-results__content h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.view-grid .search-results__content .node__details .field:not(:first-child) {
  display: none;
}

.view-grid .search-results__content .field-type-image__item {
  width: 100%;
}

.view-grid .search-results__content .field-type-image__item img {
  width: 100%;
}

.view-grid .search-results__content .view__collection-count {
  font-weight: normal;
  margin-top: 0.75rem;
}

@media all and (min-width: 45.063em) {
  .view-grid .search-results__content {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }
}

.path-frontpage .view-list .node__details,
.path-browse-collections .view-list .node__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

.path-frontpage .view-list .node__details > *:nth-child(2),
.path-browse-collections .view-list .node__details > *:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 1rem;
}

.path-browse-collections .view-grid .search-results__content {
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
}

.path-browse-collections .search-results__header .sort__container {
  display: none;
}

.search-results__facets--mobile summary {
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-results__facets--mobile summary:after {
  content: "+";
}

.search-results__facets--mobile[open] summary:after {
  content: "-";
}

.search-results__facets--wide {
  display: none;
}

@media all and (max-width: 45em) {
  .path-browse-collections .view-grid .search-results__content h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media all and (min-width: 45.063em) {
  .path-frontpage .view-list .node__content,
  .path-browse-collections .view-list .node__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .path-frontpage .view-list .node__content > :first-child:not(:empty),
  .path-browse-collections .view-list .node__content > :first-child:not(:empty) {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 2.5em;
  }
  .path-frontpage .view-list .node__content .field-type-image__item a,
  .path-browse-collections .view-list .node__content .field-type-image__item a {
    width: 18rem;
  }
  .path-frontpage .view-grid .search-results__content,
  .path-browse-collections .view-grid .search-results__content {
    grid-template-columns: repeat(auto-fill, minmax(18.65rem, 1fr));
  }
}

@media all and (min-width: 60.063em) {
  .path-frontpage .view-list .node__content .field-type-image__item a,
  .path-browse-collections .view-list .node__content .field-type-image__item a {
    width: 23rem;
  }
  .search-results__facets--wide {
    display: block;
  }
  .search-results__facets--mobile {
    display: none;
  }
}

.view-footer {
  text-align: center;
}

.view-footer > * {
  display: inline-block;
}

/**
 * Search forms
 * - search block form
 * - advanced search form
 ============================================================================ */
.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1,
.search-block-form__form {
  margin: 3.125em auto;
}

@media all and (min-width: 60.063em) {
  .block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1,
  .search-block-form__form {
    max-width: 50%;
  }
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 label,
.search-block-form__form label {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 .form--inline,
.search-block-form__form .form--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 .form--inline .form-item,
.search-block-form__form .form--inline .form-item {
  float: none;
  margin: 0;
  width: 100%;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 .form-type-search,
.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 .form-actions,
.search-block-form__form .form-type-search,
.search-block-form__form .form-actions {
  display: inline;
  margin: 0;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 .form-search,
.search-block-form__form .form-search {
  width: 100%;
}

.submit-is-visible .block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 .form-search, .submit-is-visible
.search-block-form__form .form-search {
  padding-right: 2.1875rem;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 .form-actions .form-submit,
.search-block-form__form .form-actions .form-submit {
  border-radius: 0;
  margin-right: 0;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 .contextual-render-processed,
.search-block-form__form .contextual-render-processed {
  top: 2px;
  right: 2em;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 ::-webkit-input-placeholder,
.search-block-form__form ::-webkit-input-placeholder {
  color: #e5e5e5;
  opacity: 0.75;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 :-moz-placeholder,
.search-block-form__form :-moz-placeholder {
  color: #e5e5e5;
  opacity: 0.75;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 ::-moz-placeholder,
.search-block-form__form ::-moz-placeholder {
  color: #e5e5e5;
  opacity: 0.75;
}

.block.block-plugin-id--views-exposed-filter-block-solr-search-content-page-1 :-ms-input-placeholder,
.search-block-form__form :-ms-input-placeholder {
  color: #e5e5e5;
  opacity: 0.75;
}

.search-basic {
  display: block;
}

.search-basic label {
  display: block;
  margin: 0 0 0.5rem;
}

.search-basic .form-type-search,
.search-basic .form-search {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

.search-advanced .details-wrapper > fieldset > legend {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}

.search-advanced .form-text {
  min-width: 75%;
}

.search-advanced .form-item,
.search-advanced .form-radios,
.search-advanced .form-checkboxes {
  margin-bottom: 0.5rem;
}

.search-help-link {
  float: right;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: -1.5rem;
  padding-right: 0.375rem;
}

.search-help-link:before {
  font-family: FontAwesome, sans-serif;
  content: "";
  padding: 0;
  margin: 0;
  text-align: center;
  width: 1rem;
  display: none;
}

.fa-loaded .search-help-link:before {
  display: inline-block;
}
/*# sourceMappingURL=form.css.map */