{#
/**
 * Layout provider: page-layout
 * Template suggestion: page__front
 * Theme: carapace
 * Generated on: Sun, 17 May 20 21:56:09 -0500
 */
#}
{{ attach_library('carapace/carapace.layout.page__front') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
