{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: carapace
 * Generated on: Fri, 31 Jul 20 19:34:42 +0000
 */
#}
{{ attach_library('carapace/carapace.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
