{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: carapace
 * Generated on: Wed, 26 Aug 20 13:10:16 +0000
 */
#}
{{ attach_library('carapace/carapace.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
