{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: carapace
 * Generated on: Mon, 03 Aug 20 20:35:27 +0000
 */
#}
{{ attach_library('carapace/carapace.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
