{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: carapace
 * Generated on: Tue, 12 May 20 15:11:00 -0500
 */
#}
{{ attach_library('carapace/carapace.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
